.Progress {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.progress-count {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
.progress-count-ques,
.progress-score {
	color: #000;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 500;
}
.progress-bar {
	height: 1.5rem;
	width: 10rem;
	border-radius: 0.2rem;
	border: 2px solid rgb(34, 139, 139);
	background: rgb(151, 201, 201);
}
.progress-bar-fill {
	height: calc(1.5rem - 2px);
	background-color: rgb(34, 139, 139);
}
